/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   background: #f2f3ee url('../images/bg-tile.gif') top left repeat;
   color: #4b2707;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   font-family: 'Open Sans', sans-serif;
   width: 100%;
 }

.container {
  display: block;
  margin: 0 150px 0 150px;
}


/* Typography */

h1, h2 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: #d17f38;
}

h1 {
  color: #d17f38;
  text-align: center;
  background: url("../images/header-divider.png") bottom no-repeat;
  padding-bottom: 20px;
  font-size: 40px;
}

h1 em {
  color: #4b2707;
  font-style: normal;
}

h2 {
  font-size: 36px;
}

h3 {
  margin-bottom: 0;
}

p.lead {
  font-size: 30px;
  text-align: center;
  margin-top: -20px;
}

p {
  margin: 0;
}

a:link, a:visited {
  color: #d17f38;
}

a:hover {
  color: #4b2707;
}

hr {
  /*display:block;*/
  height:40px;
  /*width: 350px;*/
  background: url("../images/divider.png") center no-repeat;
  border: none;
  padding: 20px;
}


/* Header */

header nav {
  font-size: 12px;
  text-align: center;
}

header nav ul {
  list-style: none;
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;*/
  display: flex;
  /*-webkit-flex-flow: row wrap;*/
  justify-content:space-around;
  margin-left: 5%;
  width: 80%;
}

header nav ul li {

}

header nav ul li a {
  display:block;
  line-height: 150px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: #d17f38;
  font-size: 14px;
}

header nav ul li a:hover {
  /*display:block;*/
  line-height: 150px;
  background: url("../images/tiny-donut.png") no-repeat;
  background-position: 46% 35%;
  color: #4b2707;
  text-decoration:none;
}

header nav ul li#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width:260px;
  height: 150px;
  background: url("../images/logo.png") no-repeat;
  color: transparent;
  text-decoration:none;
}

header nav ul li#logo a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width:260px;
  height: 150px;
  background: url("../images/logo-hover.png") no-repeat;
  color: transparent;
  text-decoration:none;
}


/* Hero */

#hero {
  background: url("../images/bg-tile-yellow.gif") repeat;
  height: 500px;
  /*width: 100%;*/
  padding: 20px;
}

#hero .container {
  margin-top: 10px;
  position: relative;
}

#hero .large-ribbon {
  position: absolute;
  height: 190px;
  width: 160px;
  top: -70px;
  right: -38px;
  background: url("../images/fresh-whole-ingredients.png") no-repeat;
  color: transparent;
}


/* The Whole Story */

#story-excerpt {
  float: left;
  width: 54%;
  /*padding: 5px;*/
  margin-top: 10px;
}

#best-donut {
  float: left;
  width: 30%;
  padding-left: 120px;
  background: url("../images/award.png") left no-repeat;
  margin-left: 20px;
  margin-top: 30px;
}



/* News & Events */

#articles {
  float: left;
  width: 34%;
}

#feature-image {
  float: left;
  width: 54%;
  margin-left: 50px;
  margin-top: 20px;
}

#news-events article {
  /*margin-top 30px;*/
  font-size: 12px;
}

#news-events article.news {
  padding-left: 55px;
  background: url("../images/icon-news.png") left top no-repeat;
}

#news-events article.event {
  padding-left: 55px;
  background: url("../images/icon-calendar.png") left top no-repeat;
}

#news-events header time {
  color: #d17f38;
  font-size: 12px;
}

#news-events section.excerpt {
  font-size: 12px;
  margin-top: 8px;
}

#news-events footer {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 14px;
}


/* Footer */

footer.main {
  background: url("../images/bg-tile-brown.gif") repeat;
  margin-top: 10px;
  padding: 70px 0 70px 0;
  color: white;
}

footer.main a:hover {

}

#uncopyright, #credits {
  font-size: 14px;
}

#uncopyright {
  float: left;
  width: 30%;
  line-height: 6px;
  background: url("../images/icon-recycle.png") left no-repeat;
  padding-left: 50px;
  margin-left: 20px;
}

#credits {
  float: left;
  width: 25%;
  background: url("../images/icon-apple.png") left no-repeat;
  padding-left: 50px;
  margin-left: 300px;
}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
